@using CardanoSharp.Blazor.Components;
@using CardanoSharp.Blazor.Components.Enums;
@inherits LayoutComponentBase

<div class="page">

    <main>

        <article class="content px-4">

            @Body

        </article>

    </main>

</div>
